.wrapper {
    width: 800px;
    display: flex;
    justify-content: space-between;
}
.dialogs {
    padding: 30px;
}

.dialogs img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-right: 10px;
}


.dialogs_items {

}

.dialog a {
    color: #E77A07;
}

.dialog .active {
    color: red;

}

.dialog a:hover {
    text-decoration: underline;
}

.messages {
    margin-top: 30px;
}

.message {
    font-size: 20px;
    color: #fff;

}
.message_list {
    font-size: 20px;
    color: #fff;
}