.wrapper {
    display: grid;
    grid-template-columns: 2fr 5fr;
}
.dialogs {
    padding: 30px;
}

.dialogsitems {

}

.dialog a {
    color: #E77A07;
}

.dialog a.active {
    color: red;

}

.dialog a:hover {
    text-decoration: underline;
}

.messages {

}

.message {
    font-size: 20px;
    margin-top: 30px;
}